.input-element {
    padding: 0 0 10px 10px;
}

img[class^="dx"] /*Bootstrap correction*/ {
    max-width: none;
}

.content {
    padding: 10px;
}

.login-panel {
    margin: 100px auto;
    box-shadow: 2px 2px 5px #d1d1d1;
}

.button-panel {
    margin: 15px;
}

.btnInline {
    display: inline-table;
}

.input-margin-bottom {
    margin-bottom: 10px;
}

.hintContent {
    display: table;
    max-width:550px;
    color: #484848;
}

    .hintContent > img {
        width: 180px;
        display: table-cell;
        margin-right: 10px;
        margin-bottom:10px;
    }

    .hintContent > div {
        display: table-cell;
        vertical-align: top;
    }
